#ignore all geodatabases
*.gdb/**
*/*.gdb/**
*/*/*.gdb/**
*/*/*/*.gdb/**

#ignore all files under input_master_tables
input_master_tables_csv/*.csv
input_master_tables_csv/*

#ignore all files under CIM_February_2024
CIM_February_2024/*
CIM_February_2024/*/*
CIM_February_2024/*/*/*

